.background-icon,
.image-icon {
  position: absolute;
  top: -32px;
  left: -51px;
  width: 1376px;
  height: 655px;
}
.image-icon {
  top: 115.52px;
  left: 22.51px;
  width: 594.49px;
  height: 496.24px;
  margin-left: 40px;
  object-fit: cover;
}
.background-icon1 {
  position: absolute;
  top: 0;
  left: 168.22px;
  width: 264.78px;
  height: 113.08px;
}
.icon {
  position: relative;
  width: 67.49px;
  height: 80px;
}
.moving-your-products {
  position: relative;
  display: inline-block;
  width: 268.94px;
  height: 65px;
  flex-shrink: 0;
}
.text {
  position: absolute;
  top: 24.41px;
  left: 34.27px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 22px;
}
.feature-tag {
  position: absolute;
  top: 499px;
  left: 118px;
  background: linear-gradient(94.06deg, #ffb629, #ffda56 50.72%, #ffd7a6);
  width: 393px;
  height: 113px;
}
.image {
  position: absolute;
  top: -38px;
  left: -30px;
  background-color: var(--color-midnightblue);
  width: 617px;
  height: 661px;
}
.leverage-agile-frameworks {
  position: relative;
  line-height: 151.52%;
  font-weight: 500;
  display: inline-block;
  width: 486px;
}
.content,
.features,
.text1 {
  width: 494px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 18px;
}
.content,
.features {
  width: 553px;
  flex-direction: row;
  gap: 72px;
}
.content {
  position: absolute;
  top: 98.32px;
  left: 762.56px;
  width: 416.75px;
  height: 243.61px;
  flex-direction: column;
  gap: 61px;
  font-size: var(--font-size-base);
  color: var(--color-slategray);
  font-family: var(--font-krub);
}
.why-choose-us {
  position: absolute;
  top: 52px;
  left: 51px;
  width: 1349px;
  height: 655px;
}
.why-choose-us-parent {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  margin-left: 80px;
  height: 729px;
  overflow: hidden;
  text-align: left;
  font-size: 25px;
  color: var(--color-gray);
  font-family: var(--font-rubik);
}
